*{
    margin:0 auto;
}
h1{
    text-align: center;
    color:tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px dashed green;
    padding: 20px;
}
.display{
    width: 80%;
    margin: 0 auto;
    background-color: lightpink;
    height: 50vh;
    margin-top: 20px;
    display: flex;
}

.display h2{
    text-align: center;
    align-self: center;
    color:rgb(241, 69, 11);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section h2{
    margin-top: 80px;
    text-align: center;
    align-self: center;
    color:rgb(241, 69, 11);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
section h2:hover{
    background-color: yellow;
    animation-duration: 5s;
}

#display{
    display: none;
}
img{
    width:300px;
    height:200px;
    border: 2px solid gray;
    border-radius: 10px;
    object-position: center;
}
#display{
    width:100%;
    height:100%;
}
.sliders{
    position: relative;
    width: 750px;
    height: 300px;
    margin: 120px auto 0;
}
.previous, .next{
    position: absolute;
    top:50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}
.next{
    right: -50px;
    content:'>';
    }

.previous{
        left:-50px;
        content:'<';
    }
.previous:hover, .next:hover{
        opacity: 1;
        background-color: rgb(233, 166, 166);
        
    }


.previous::before{
    content: '<';
}

.next::before{
    content: '>';
}
.carousel{
    width: 90dvw;
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-content: space-evenly;
    justify-content: center;
}
.carousel img{
    margin: 10px;
}
